{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true
}